*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --dark-blue :#152641 ;
    --danger-red :#dc2e51 ;
    --light-grey :#e5e5e5 ;
    --dark-grey :#d2d0d0 ;
    --banner-blue :#102636;
    --off-white :#f6f8fb;
    --footer-bg: #203655;
    --footer-copyright-bg: #12223c;
}

.Poppins{
  font-family: "Poppins", sans-serif;
}
.Montserrat{
  font-family: "Montserrat", sans-serif;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dark-blue-text{
    color: var(--dark-blue) ;
}
.dark-blue-bg{
    background-color: var(--dark-blue) ;
}

.fs-17px{
    font-size: 17px;
}
.fs-10px{
    font-size: 10px;
}
.fs-12px{
    font-size: 12px;
}
.fs-14px{
    font-size: 14px;
}
.fs-15px{
    font-size: 15px;
}
.fs-16px{
    font-size: 16px;
}
.fs-18px{
    font-size: 18px;
}
.fs-20px{
    font-size: 18px;
}
.fs-23px{
    font-size: 18px;
}
.fs-26px{
    font-size: 26px;
}
.fs-1rem{
    font-size: 1.2rem;
}
.fs-1-8rem{
    font-size: 1.8rem;
}
.fs-1rem-accurate{
    font-size: 1rem;
}
.fs-2rem{
    font-size: 2.1rem;
}
.fs-2-5rem{
    font-size: 2.5rem;
}
.fs-3rem{
    font-size: 3.2rem;
}
.fs-50px{
    font-size: 50px;
}
.max-h-500px{
    height: 100%;
    max-height: 500px;
}
.each-card{
    background-color: #f2f2f2;
    position: relative;
}
#withdrawBtn:hover::after{
    content: "Add Withdrawal";
    color:#d2d0d0;
    font-size: 1.5rem;
    padding: 60px 0;
    background-color: rgb(58, 18, 18);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 20px;
}
#depositBtn:hover::after{
    content: "Add Deposits";
    color:#d2d0d0;
    font-size: 1.5rem;
    padding: 60px 0;
    background-color: rgb(31, 49, 21);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 20px;
}
header nav ul li a:hover:after{
    content:"";
    width: 50%;
    height: 3px;
    position: absolute;
    background-color: white;
    bottom: 0;
    left: 27%;
}
.active::after{
    content:"";
    width: 50%;
    height: 3px;
    position: absolute;
    background-color: white;
    bottom: 0;
    left: 27%;
}
.time{
    font-size: 0.8rem;
}
